
extends base

block emailContent
    p.title.center.uppercase welcome to Music Player
    p.align-left.uppercase-first Hi #{name}, welcome to Music Player. Great have you on board
    p.subtitle.align-left.uppercase-first start listen
    p.uppercase-first.align-left now you're ready for listen your favorite music. Good luck on your journey
    table.btn.btn-primary(role="presentation", border="0", cellpadding="0", cellspacing="0")
      tbody
        tr
          td
            table.content-back
              tbody
                tr
                  td.uppercase-first
                    a(href="https://frolicking-madeleine-39d203.netlify.app/", target="_blank") start listen